*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
/* nav part start */
.menu-bg{
    position: absolute;
    width: 100%;
    height: 92px;
    align-items: center;

}
.menu-bg ul li{
    padding-right: 30px;
}
.menu-bg ul li a{
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.nav-btn {
    margin-top: 6px;
}
.nav-btn a{
    padding: 16px 48px;
    text-align: center;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20); 
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.nav-btn a:hover{
    background-color: #FCD980;
    color: #222 !important;
}

/* nav part end */
/* banner part start */
#banner{
    padding-top: 218px;
    padding-bottom: 128px;
    background-color: #1C1E53;
}
.banner-data h1{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
}
.banner-data h2{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.7;
    padding-top: 24px;
}
.banner-btn{
    margin-top: 48px;
    padding-bottom: 128px;
}
.banner-btn a{
    padding: 16px 56px;
    align-items: center;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    transition: 0.5s;
}
.banner-btn{
    margin-top: 48px;
    padding-bottom: 128px;
}
.banner-btn a{
    padding: 16px 56px;
    align-items: center;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    transition: 0.5s;
}
.banner-btn i{
    padding-left: 5px;
}
.banner-btn a:hover{
    background-color: #FCD980;
    color: #222 !important;
}
/* working part start */
.card{
    background: var(--Grey, #F4F6FC);
    border: none;
}
.card-one{
    padding-top: 50px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 32px;
}
.card-one img{
    width: 32px;
    height: 32px;
    margin-bottom: 26px;
}
.card-one h4{
    margin-bottom: 12px;
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
    margin-top: 28px;
}
.card-one p{
    width: 324px;
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 12px;
}
.working-head{
    margin-bottom: 48px;
}
.working-head h4{
    color: var(--Dark-blue, #282938);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}

.logo-section{
    padding-top: 48px;
    padding-bottom: 128px;
}
/* working part end */
/* freelancer part start */
#freelancer{
    margin-top: 128px;
    margin-bottom: 128px;
}
.free-data{
    padding-top: 41px;
}
.free-data h6{
    margin-bottom: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    opacity: 0.87;
}
.free-data h2{
    margin-bottom: 16px;
    color: #232536;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    width: 620px;
}
.free-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 622px;
    opacity: 0.6;
}
.free-img{
    text-align: right;
}
/* freelancer part end */

/* freelancer-2 part start */
#freelancer-2{
    padding-top: 128px;
    padding-bottom: 128px;
    margin-bottom: 128px;
    background: var(--Grey, #F4F6FC);
}
.free-2-data{
    padding-top: 41px;
}
.free-2-data h6{
    margin-bottom: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    opacity: 0.87;
}
.free-2-data h2{
    margin-bottom: 16px;
    color: #232536;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    width: 620px;
}
.free-2-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 622px;
    opacity: 0.6;
}
.free-2-img{
    text-align: left;
}
/* freelancer-2 part end */

/* freelancer-3 part start */
#freelancer-3{
    margin-bottom: 128px;
}
.free-3-data{
    padding-top: 41px;
}
.free-3-data h6{
    margin-bottom: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    opacity: 0.87;
}
.free-3-data h2{
    margin-bottom: 16px;
    color: #232536;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    width: 620px;
}
.free-3-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 622px;
    opacity: 0.6;
}

.free-3-img{
    text-align: right;
}
/* freelancer-2 part end */
/* freelancer-3 part start */
#freelancer-4{
    margin-bottom: 128px;
    padding-top: 128px;
    padding-bottom: 128px;
    background: rgba(252, 217, 128, 0.10);
}
.free-4-data{
    padding-top: 41px;
}
.free-4-data h6{
    margin-bottom: 16px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px; 
    opacity: 0.87;
}
.free-4-data h2{
    margin-bottom: 16px;
    color: #232536;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    width: 620px;
}
.free-4-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 622px;
    opacity: 0.6;
}
.free-4-img{
    text-align: left;
}
/* freelancer-2 part end */
/* according part start  */
#according{
    margin-bottom: 128px;
}
.accor-text h4{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 147.368% */
}
.accor-text a{
    color: var(--Royal-Blue, #2405F2);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    margin-top: 16px;
}
/* according part end */


/* footer part start */
footer{
    background-color: #1C1E53;
    padding-top: 96px;
}
.fot-data img{
    width: 156px;
    height: 38px;
}
.fot-data p{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.5;
    margin-top: 22px;
}
.yollow{
    padding-top: 18px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-around;
    background-color: #FCD980;
    margin-top: 86px;
}
.yo h5{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.yo p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.fot-data-1 h2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.fot-data-1 p{
    color: var(--Grey, #F4F6FC);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.5;
    width: 399px;
    margin-top: 14px;
}
.icon{
    color: #FFF;
    
}
.icon i{
    width: 16px;
    height: 16px;
    padding-right: 26px;
    margin-top: 28px;
}
/* footer part end */
/* copyright part start */
#copyright{
    padding-top: 32px;
    padding-bottom: 32px;
}
.copyright h6{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.copy-menu ul{
    display:flex;
}
.copy-menu ul li{
    padding-right: 32px;
}
.copy-menu ul li a{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

/* copyright part end */
