*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/* nav part start */
.menu-bg{
    background-color: #1C1E53;
    height: 92px;
}
.menu-bg ul li{
    padding-right: 30px;
}
.menu-bg ul li a{
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.nav-btn{
    margin-top: 7px;
}
.nav-btn a{
    padding: 16px 48px;
    text-align: center;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20); 
    color:  #BBBBCB !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.nav-btn a:hover{
    background-color: #FCD980;
    color: #222 !important;
}
/* nav part end */
/* blog part start */
#blog{
    margin-top: 128px;
    margin-bottom: 32px;
}
.blog-top h2{
    color: var(--Dark-blue, #282938);    
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}
.blog-top p{
    color: var(--Dark-blue, #282938);    
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    margin-top: 16px;
}
.blog-top p span{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    opacity: 0.87;
    margin-right: 5px;
}
.top-img img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-data h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 147.368% */
    margin-top: 48px;
}
.middle-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
    margin-top: 32px;
}
.middle-data ul{
    list-style: circle;
    margin-left: 20px;
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
    margin-top: 12px;
}
.middle-data ul li{
    padding-top: 12px;
}
.middle-img img{
    width: 841px;
    height: 311px;
    flex-shrink: 0;
    margin-top: 32px;
}
.down-data h3{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 147.368% */
    margin-top: 48px;
}
.down-data p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    opacity: 0.7;
    margin-top: 32px;
}

/* blog part end */

/* footer part start */
footer{
    background-color: #1C1E53;
    padding-top: 96px;
}
.fot-data img{
    width: 156px;
    height: 38px;
}
.fot-data p{
    color: var(--White, #FFF);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: 0.5;
    margin-top: 22px;
}
.yollow{
    padding-top: 18px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-around;
    background-color: #FCD980;
    margin-top: 86px;
}
.yo h5{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.yo p{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.fot-data-1 h2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.fot-data-1 p{
    color: var(--Grey, #F4F6FC);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    opacity: 0.5;
    width: 399px;
    margin-top: 14px;
}
.icon{
    color: #FFF;
    
}
.icon i{
    width: 16px;
    height: 16px;
    padding-right: 26px;
    margin-top: 28px;
}
/* footer part end */
/* copyright part start */
#copyright{
    padding-top: 32px;
    padding-bottom: 32px;
}
.copyright h6{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.copy-menu ul{
    display:flex;
}
.copy-menu ul li{
    padding-right: 32px;
}
.copy-menu ul li a{
    color: var(--Dark-blue, #282938);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
/* copyright part end */